body{
    background-color: black
}
p{
    font-family: Arial;
    color:darkred;
}

li{
    font-size: 12px;
    font-family: Arial;
    color: darkred;
}
h1{
    font-family: Arial;
    color: darkred;

}
h2{
    font-family: Arial;
    color: darkred;

}
h3{
    font-family: Arial;
    color: darkred;

}

img{
    
}

