body{
    background-image: url(zoiao.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}
p{
    font-size: xx-large;
    font-family: Arial;
    color:darkred;
}

li{
    font-size: xx-large;
    font-family: Arial;
    color: darkred;
}
h1{
    font-size: xx-large;
    font-family: Arial;
    color: darkred;

}
h2{
    font-size: xx-large;
    font-family: Arial;
    color: darkred;

}
h3{
    font-size: xx-large;
    font-family: Arial;
    color: darkred;

}

.teupai{
    width: 25%;
}
