body{
    background-color: black;
}
p{
    font-family: Arial;
    color: pink;
}

li{
    font-family: Arial;
    color: white;
}
h1{
    color: red;

}
h2{
    color: green;

}
h3{
    color: white;

}

TEU PAI{
    width: 25%;
}

